html,body {
  margin: 0px;
  height: 100%;
  max-width: 100% !important;
  overflow-x: hidden !important;
}
footer {
  right: 150px;
  padding-right: 15px;
  padding-left: 15;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 1440px;
  text-align: center;
  background-color: #D9D9E2;
  z-index: -1;
}
header {
  position: fixed;
  width: 1440px;
  height: 96px;
  background-color: #373867;
}
aside {
  position: fixed;
  float: left;
  width: 343px;
  height: 1200px;
  top: 96px;
  background-color: #D9D9E2;
}
main {
  margin-left: 439px;
  margin-top: 112px;
}
h1 {
  position: relative;
  top: 53px;
  right: 101px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #373867;
  z-index: -1;
}
h2 {
  position: relative;
  top: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #373867;
  z-index: -1;
}
h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #373867;
}
h4 {
  position: relative;
  right: 15px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #373867;
}
p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  color: #373867;
}
ol li {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
aside ul li {
  position: relative;
  bottom: 26px;
  margin-top: 27px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #373867;
}
aside a {
  text-decoration: none;
}
li.redes {
  display: inline-block;
  position: relative;
  right: 160px;
  top: 14px;
  width: 4%;
  margin-right: 21px;
}
span.radium {
  position: relative;
  left: 39px;
  font-size: 72px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #49A37B;
}
span.rocket {
  position: relative;
  left: 32px;
  font-size: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #AACE9B;
}
div.container {
  position: relative;
  bottom: 50px;
}
section.main-content {
  margin-left: 112px;
  margin-top: 136px;
  z-index: -1;
}
div.block-start {
  display: inline-block;
  width: 31%;
}
p.project {
  position: relative;
  bottom: 49px;
  margin-left: -95px;
  margin-top: 21px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  color: #373867;
  z-index: -1;
}
div.funcionalities {
  display: inline-block;
  position: relative;
  width: 44%;
  margin-top: 5px;
  left: 104px;
  z-index: -1;
}
div.funcionalities {
  display: inline-block;
  width: 45%;
}
div.container1 {
  position: relative;
  right: 70px;
}
img.start1 {
  position: relative;
  right: 144px;
  top: 57px;
}
p.text {
  font-size: 12px;
  padding-right: 222px;
}
div#rerol.container1 {
  position: relative;
  right: -9px;
}
img#rerol.start1 {
  position: relative;
  right: 64px;
}
div.contract {
  position: relative;
  right: -31px;
}
div#rol {
  position: relative;
  left: 20px;
  bottom: 15px;
}
img#rerol.start2 {
  position: relative;
  top: 45px;
  right: 60px;
}
div.menu {
  display: inline-block;
  width: 20%;
  margin-top: 40px;
  margin-bottom: 40px;
}
span.menu-styles {
  position: relative;
  bottom: 36px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #373867;
}
div.greenline {
  position: relative;
  height: 2px;
  width: 74px;
  padding: 0;
  margin: 20px auto 0 auto;
  top: 2px;
  border-top: 5px solid #AACE9B;
  border-radius: 10px;
}
div.line {
  position: relative;
  height: 2px;
  width: 249px;
  padding: 0;
  margin: 20px auto 0 auto;
  bottom: 24px;
  border-top: 1px solid #373867;
  opacity: 0.4;
  border-radius: 10px;
}
div.lastline {
  position: relative;
  height: 2px;
  width: 249px;
  padding: 0;
  margin: 20px auto 0 auto;
  bottom: 65px;
  border-top: 1px solid #373867;
  opacity: 0.4;
  border-radius: 10px;
}
span.estiloscontact {
  position: relative;
  bottom: 85px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #373867;
}
p.aside-style {
  position: relative;
  bottom: 105px;
  font-size: 12px;
}
div.contact {
  display: inline-block;
  width: 66%;
  margin-top: 40px;
  margin-left: 40px;
}
div.green-line-contact {
  position: relative;
  bottom: 110px;
  height: 2px;
  width: 156px;
  padding: 0;
  margin: 20px auto 0 auto;
  right: 36px;
  border-top: 5px solid #AACE9B;
  border-radius: 10px;
}
ul.contacto {
  position: relative;
  bottom: 100px;
  margin-left: 40px;
}
img.e-mail {
  position: relative;
  right: 22px;
  bottom: 27px;
}
img.mail {
  position: relative;
  right: 22px;
  bottom: 68px;
}
img.direction {
  position: relative;
  right: 22px;
  bottom: 108px;
}
div.use-trackgenix {
  display: inline-block;
  width: 45%;
}
div.block2 {
  position: relative;
  left: 155px;
}
div.block1 {
  position: relative;
  left: 65px;
}
img.start3 {
  position: relative;
  top: 68px;
  left: 77px;
  z-index: -1;
}
div.block4 {
  position: relative;
  bottom: 42px;
  left: 149px;
}
img.start4 {
  position: relative;
  top: 34px;
  left: 81px;
  z-index: -1;
}
img.star1 {
  position: relative;
  bottom: -73px;
  right: 10px;
  z-index: -1;
}
div.division {
  position: relative;
  top: 9px;
  right: 53px;
  height: 2px;
  width: 920px;
  padding: 0;
  margin: 20px auto 0 auto;
  border-top: 1px solid #373867;
  opacity: 0.4;
  border-radius: 10px;
}
img.rocketlaunch {
  position: relative;
  left: 105px;
  bottom: 85px;
  width: 369px;
  height: 369px;
  z-index: -1;
}
div.position {
  display: inline-block;
  width: 33%;
}
div.position h2 {
  margin-bottom: 150px;
}
div.position p {
  position: relative;
  bottom: 72px;
  margin-top: 20px;
  white-space: pre-line;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  z-index: -1;
}
section.procompsupp {
  display: inline-block;
  width: 44%;
}
div.products {
  display: inline-block;
  width: 30%;
}
div.division2 {
  position: relative;
  bottom: 23px;
  right: 53px;
  height: 2px;
  width: 920px;
  padding: 0;
  margin: 20px auto 0 auto;
  border-top: 1px solid #373867;
  opacity: 0.4;
  border-radius: 10px;
}
li.white {
  white-space: nowrap;
}
a.p1{
  position: relative;
  bottom: 40px;
}
a.p2{
  position: relative;
  bottom: 80px;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
}
section.contacto {
  display: inline-block;
  width: 55%;
}
section.contacto form h2 {
  margin-bottom: 82px;
}
div.separar {
  display: inline-block;
  position: relative;
  bottom: 30px;
  margin-left: 40px;
  z-index: -1;
  right: 50px;
}
section.procompsupp {
  padding-bottom: 25px;
}
label.separar {
  position: relative;
  bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #373867;
}
label.separar2 {
  position: relative;
  bottom: 20px;
  left: 215px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #373867;
}
label.separar3  {
  position: relative;
  bottom: 20px;
  left: 420px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #373867;
}
aside .contact ul li {
  position: relative;
  bottom: 10px;
}
.track {
  position: relative;
  bottom: 20px;
  left: 162px;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.sidebar {
  position: relative;
  left: 370px;
  bottom: 210px;
  max-width: 65px;
  max-height: 59px;
}
.watch {
  position: relative;
  left: 45px;
  width: 460px;
  height: 390px;
  z-index: -1;
}
.company {
  margin-left: 250px;
}
.support {
  margin-left: 500px;
}
.form-control1 {
  box-sizing: border-box;
  width: 365px;
  height: 30px;
  border: 1px solid #373867;
  border-radius: 4px;
}
.form-control {
  position: relative;
  box-sizing: border-box;
  left: 380px;
  bottom: 30px;
  width: 365px;
  height: 30px;
  border: 1px solid #373867;
  border-radius: 4px;
  z-index: -1;
}
.form-group p {
  margin-bottom: 45px;
  margin-top: 46px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #373867
}
.input-textarea {
  box-sizing: border-box;
  width: 824px;
  height: 156px;
  border: 1px solid #373867;
  border-radius: 4px;
  font-family: Roboto;
}
.reset-button {
  position: relative;
  box-sizing: border-box;
  align-items: center;
  height: 47px;
  bottom: 47px;
  left: 187px;
  padding: 14px 36px;
  border: 1px solid #373867;
  border-radius: 5px;
  background-color: white;
  color: #373867;
  z-index: -1;
}
.submit-button {
  align-items: center;
  padding: 14px 36px;
  height: 47px;
  border: none;
  color: #373867;
  background: #AACE9B;
  border-radius: 5px;
}