footer {
  display: flex;
  width: 100%;
  background-color: #d9d9e2;
  align-items: center;
  flex-direction: column;
}
.iconfooter {
  display: flex;
  padding-top: 1.25em;
}
.redes {
  margin-left: 0.625em;
}
.filapro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}