footer {
    display: flex;
    
    width: 100%;
    background-color: #D9D9E2;
    height: 6em;
    align-items: center;
    flex-direction: column;

  }



 .iconfooter {
    display: flex;
    padding-top: 20px;
}
 

 .redes {
     margin-left: 10px;

     
 }

 .filapro {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }

 