
body {
    font-size: 1rem;
}


.container-principal {
    display: flex;
    
}



.container-general {
    display: flex;
    width: 100%;
    justify-content: space-between;
   
    
}

.section-text {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    justify-content: space-evenly;
    padding-top: 43px;
   
}

.watch {
    
    width: 50%;
    height: 390px;
    padding-top: 60px;
}

.startsec {
    display: flex;
    width: 50%;
    
}




.imgparrafo {
    display: flex;
    width: 100%;
    align-items: center;
    
    
}

h3 {
    padding: 1em;
}

.timerepor {
    display: flex;

}

main {
    padding: 112px;
    
    
}


.rocketlaunch {
   
    height: 390px;
}

.about-us {
    padding-top: 50px;
}

.solution {
    display: flex;
    
}

p.text {
    height: 100px;
}

.informacion {
    padding-top: 100px;
}

p.project {
    padding-top: 5px;
}


 


  .form {
    display: flex;
    justify-content: space-between;
    width: 100%;
   
}

.form-control {
    width: 50%;
    height: 37px;
    border: 1px solid #373867;
    margin: 10px;
border-radius: 4px;
}

.space-options {
    display: flex;
    justify-content: space-between;
    padding-top: 43px;
}


.sendreset {
    display: flex;
}

.textsendreset {
    margin-top: 48px;
}

.input-textarea {
    width: 100%;
    height: 196px;
    margin-bottom: 20px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
border: 1px solid #373867;

border-radius: 4px;
}

.submit-button {
    display: flex;
flex-direction: row;
align-items: center;
padding: 14px 36px;
background: #AACE9B;
border-radius: 5px;
border: none;


}

.reset-button {

    display: flex;
flex-direction: row;
align-items: center;
padding: 14px 36px;
background: #FFFFFF;
border: none;
margin-left: 30px;
border: 1px solid #373867;
box-sizing: border-box;
border-radius: 5px;
}

label {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;


color: #373867;
}

.card{
    display: flex;
    flex: 2 0 309px;
    width: 100%;
    align-items: center;
    padding-top: 22px;
}


.funciones {
    
    
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.use {
    margin-top: 34px;
    padding-bottom: 62px;
}

.whyuse {
    border-bottom: 1px solid rgba(55, 56, 103, 0.5);
    border-radius: 2px;
    padding-bottom: 100px;
}


